body {
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

h1 {
  font-size: 2.85rem;
  font-weight: 800;
  color: #9E9E9E;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 2.25rem;
  font-weight: 500;
}


i {
  padding-right: 8px;
}

.white {
  color: black;
}



header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.brand {
  display: flex;
  align-items: center;
  height: 32px;
  flex-grow: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.brand img {
  height: 2.75rem;
  padding-left: 24px;
}

.brand span:first-of-type {
  color: #A51C30;
}

.brand span:last-of-type {
  color: rgba(0,0,0,0.38);
}

a {
  color: #A51C30;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: rgba(0,0,0,0.38)
}

nav a {
  padding: 0 24px;
}

#mobile-nav {
  display: none;
}

.banner {
  display: flex;
  justify-content: flex-start;
  background-color: #A51C30;
  color: #ffffff;
}

.banner img {
  width: 60%;
  height: 100%;
  margin: 32px 24px;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 15%;
}

.cta h2 {
  margin: 1.75rem 0;
}

.cta span {
  color: white;
  border: 2px solid white;
  border-radius: 32px;
  width: 100%;
  padding: 17px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.cta span:hover {
  background-color: rgba(225, 225, 225, 0.30);
}

#information {
  display: flex;
}

.information-main {
  padding: 32px 24px;
  width: 60%;
  border-right: 1px solid lightgrey;
}

.information-main img {
  width: 100%;
}

.information-main h1 {
  padding-top: 32px;
  padding-bottom: 24px;
}

.information-main p {
  padding-bottom: 32px;
}

.information-main span {
  font-size: 12px;
}

.information-other {
  width: 40%;
  padding-top: 16px;
}

.item {
  display: flex;
  justify-content: flex-end;
}

.item-image {
  width: 35%;
  padding: 16px 16px;
}

.item-image img {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mobile-image {
  display: none;
}

.item-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.cta-button {
  display: flex;
  align-items: center;
  background-color: #a51c30;
  border-radius: 4px;
  height: 36px;
}

.cta-button a {
  margin: 0 16px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.cta-button:hover {
  box-shadow: 2px 3px 6px #9e9e9e;
}

.item-text span {
  margin: 1rem 0;
}

#learning {
  padding: 32px 56px;
  background-color: #293352;
  text-align: center;
}

#courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#learning h1 {
  padding-bottom: 16px;
}

.course {
  background-color: white;
  margin: 16px 16px;
  width: 532px;
}

.course-text {
  margin: 16px;
  text-align: left;
  line-height: 2.25rem;
}

.course-text h2 {
  padding-bottom: 8px;
}

.course-text p {
  padding-bottom: 8px;
  font-size: 1.25rem;
  color: #293352;
  opacity: 0.87;
}


#thesis {
  padding: 32px 0;
  text-align: center;
}

#thesis h1 {
  padding-bottom: 32px;
}

#thesis-main h2 {
  padding-bottom: 8px;
  padding-top: 24px;
}

#thesis-container {
  display: flex;
}

#thesis-main {
  width: 60%;
  padding: 0 24px 24px 24px;;
  text-align: left;
}

#thesis-main video {
  width: 100%;
  height: auto;
}

#thesis-other {
  width: 40%;
}

.fisma {
  background-color: #9e9e9e;
  color: #293352;
}

footer {
  border-top: 1px solid lightgrey;
  padding: 16px 24px;
  display: flex;
}

footer span {
  padding-left: 24px;
}

#copy {
  flex-grow: 1;
}

#mobile-footer {
  display: none;
}



@media only screen and (max-width: 648px) {
    .brand span {
        display: none;
    }

    #web-nav {
      display: none;
    }

    #mobile-nav {
      display: block;
    }

    #mobile-nav img {
      height: 2rem;
      opacity: 0.54;
    }

    .banner {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .banner img {
      width: 100%;
      height: auto;
      margin: 0;
    }

    .cta {
      margin-right: 0;
      padding: 32px 16px;
    }

    .information-main {
      display: none;
    }

    .information-other {
      width: 100%;
      padding-top: 0;
      padding: 16px;
    }

    .item {
      display: block;
      padding-bottom: 64px;
    }

    .item:last-of-type {
      padding-bottom: 32px;
    }

    .item-image {
      width: 100%;
      padding: 0;
    }

    .web-image {
      display: none;
    }

    .mobile-image {
      display: block;
    }

    .item-text {
      width: 100%;
      padding-left: 16px;
      padding-top: 32px;
    }

    #learning {
      background-color: white;
      border-top: 1px solid rgba(0,0,0,0.12);
      border-bottom: 1px solid rgba(0,0,0,0.12);
    }

    .course {
      margin: 0;
    }

    .course img, p {
      display: none;
    }

    .course-text {
      margin: 0;
    }

    .course h2 {
      padding: 16px 16px 24px 16px;
      background-color: #293352;
      margin-bottom: 8px;
      color: white;
      font-size: 2rem;
    }

    #thesis {
      padding: 32px 0 24px 0;
    }

    #thesis h1 {
      padding-bottom: 16px;
    }

    #thesis-main {
      width: 100%;
      padding: 0;
    }

    #thesis-main h2 {
      display: none;
    }

    #thesis-other {
      display: none;
    }

    #mobile-footer {
      display: block;
      border: none;
    }

    #web-footer {
      display: none;
    }

    .white {
      color: white;
    }
}


@media only screen and (max-width: 910px) and (min-width: 649px){
  #web-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
  }

  #mobile-nav img {
    height: 2rem;
    opacity: 0.54;
  }

  h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #9E9E9E;
    font-family: 'Montserrat', sans-serif;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 500;
  }

  #information h2 {
    font-size: 1.25rem;
  }

  .information-main {
    border: none;
  }

  .information-other {
    padding-top: 32px;
  }

  .item {
    display: block;
    margin-bottom: 24px;
  }

  .item:last-of-type {
    padding-bottom: 32px;
  }

  .item-image {
    width: 100%;
    padding: 0;
  }

  .web-image {
    display: none;
  }

  .mobile-image {
    display: block;
  }

  .item-text {
    width: 100%;
    padding-left: 16px;
    padding-top: 16px;
  }

  .item-text span {
    margin: 0;
    padding: 8px 0;
  }

  .course {
    width: 30%;
  }

  .course img {
    width: 100%;
  }

  .course h2 {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  .course p {
    font-size: 0.75rem;
    line-height: normal;
  }
}
